/* Sticky Header Style */
.sticky-header-lesson {
  margin-top: 200px;
}

.sticky-header {
  background: rgba(242, 57, 90, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 180px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky-header h1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 0 auto;
}

.sticky-header h1 small {
  font-size: 2rem;
}
