/* Dropbown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown__hover {
  display: inline-block;
  padding: 10px;
  background-color: #323b40;
  color: #fff;
  cursor: pointer;
  border: none;
}

.dropdown__hover:hover {
  background-color: #222;
}

.dropdown__menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #fff;
  color: #323b40;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown__menu a {
  display: block;
  border: none;
  padding: 10px;
  text-decoration: none;
  border-top: solid 1px #e0e0e0;
}

.dropdown__menu a:hover {
  background: #f0f0f0;
  color: #323b40;
}