/* Main Image Styles */

.sandbox img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sandbox img:hover {
  cursor: crosshair;
}

/* Grayscale Image */
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* Blurred Image */
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.blur:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* Inverted Image */
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.invert:hover {
  -webkit-filter: invert(0);
  filter: invert(0);
}

/* Sepia Image */
.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.sepia:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
