/* Print media styles */
@media print {
  /* Hide unwanted elements */
  body::before,
  .course-files,
  #logo,
  .final-result::before,
  .info::before,
  .final-result::after,
  .info::after,
  .final-result h2,
  .info h2,
  img {
    display: none;
  }

  /* Global Reset */
  body {
    font-family: Georgia, serif;
    font-size: 16pt;
    line-height: 24pt;
    background: none;
    color: #000;
  }

  /* Layout Reset */
  .final-result,
  .info,
  section,
  footer {
    box-shadow: none;
    background: none;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: #000;
  }

  .final-result,
  .info {
    box-shadow: none;
  }

  section:first-child::before {
    border: none;
  }

  /* Specifics */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  h1 {
    text-shadow: none;
    font-size: 50pt;
    margin: 0 0 20pt;
    text-align: center;
    width: 100%;
    transform: rotate(0);
  }

  h1 small {
    font-size: 24pt;
    color: #888;
    margin: 0 0 10pt;
  }

  .info p {
    color: #000;
  }

  a:link {
    margin: 0;
  }

  a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
  }

  footer .made-by,
  footer .course,
  footer .copyright {
    padding: 0;
  }
}
